@model LibraryManagement.Models.Customer

<a asp-action="Index" class="btn btn-secondary">Back</a>

<h1><i>@Model.CustomerFirstName @Model.CustomerLastName</i></h1>
<br>
<p>Customer ID: @Model.CustomerId</p>
<p>Email: @Model.CustomerEmail</p>
<p>Contact No.: @Model.CustomerPhone</p>

<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.CustomerId">Edit</a>
<a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.CustomerId">Delete</a>